    @import url(https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Inter:wght@400;600&display=swap);

    body p,
    h5,
    li {
        line-height: var(--line-height-m)
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    p,
    ul {
        color: var(--content-color-primary)
    }

    :root {
        --base-color-info: #097bed;
        --base-color-warning: #ffb400;
        --base-color-error: #eb2013;
        --base-color-success: #0cbb52;
        --content-color-primary: #212121;
        --content-color-secondary: #6B6B6B;
        --content-color-tertiary: #DDDDDD;
        --content-color-link: #0265D2;
        --text-family-default: "Inter", system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica, Arial, sans-serif;
        --text-family-code: "IBM Plex Mono", "Cousine", monospace;
        --text-size-m: 12px;
        --text-size-l: 14px;
        --text-size-xl: 16px;
        --text-size-xxl: 18px;
        --text-size-xxxl: 24px;
        --line-height-m: 20px;
        --line-height-l: 20px;
        --line-height-xl: 24px;
        --line-height-xxl: 28px;
        --line-height-xxxl: 32px;
        --text-weight-regular: 400;
        --text-weight-bold: 600
    }

    html body {
        font-size: var(--text-size-m)
    }

    body {
        font-family: var(--text-family-default);
        font-feature-settings: "calt" 0;
        font-weight: var(--text-weight-regular);
        margin: 0 auto;
        max-width: 768px;
        padding: 3em 1.5em
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    strong {
        font-weight: var(--text-weight-bold)
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
        margin-top: 32px;
        overflow: hidden;
        overflow-wrap: break-word
    }

    h1 {
        font-size: var(--text-size-xxxl);
        line-height: var(--line-height-xxxl)
    }

    h2 {
        font-size: var(--text-size-xxl);
        line-height: var(--line-height-xxl)
    }

    h3 {
        font-size: var(--text-size-xl);
        line-height: var(--line-height-xl)
    }

    h4 {
        font-size: var(--text-size-l);
        line-height: var(--line-height-l)
    }

    h5,
    p,
    pre {
        font-size: var(--text-size-m)
    }

    pre {
        line-height: 18px;
        margin: 0;
        border: 1px solid rgb(230, 230, 230);
        border-radius: 4px;
        padding: 5px 10px
    }

    code {
        font-family: var(--text-family-code);
        border: 0;
        border-radius: 5px;
        color: var(--content-color-secondary)
    }

    code .token.punctuation {
        color: #5f6364;
    }

    code .token.property,
    code .token.tag,
    code .token.boolean,
    code .token.number,
    code .token.function-name,
    code .token.constant,
    code .token.symbol,
    code .token.deleted {
        color: #c92c2c;
    }

    code .token.operator,
    code .token.entity,
    code .token.url,
    code .token.variable {
        color: #a67f59;
    }

    code .token.selector,
    code .token.attr-name,
    code .token.string,
    code .token.char,
    code .token.function,
    code .token.builtin,
    code .token.inserted {
        color: #2f9c0a;
    }

    code .token.atrule,
    code .token.attr-value,
    code .token.keyword,
    code .token.class-name {
        color: #1990b8;
    }

    hr {
        height: 1px;
        background-color: var(--content-color-tertiary);
        border: none;
        margin: 2em 0
    }

    ul {
        margin: 16px 0 0 4px;
        padding: 0 0 0 12px
    }

    ul ul {
        margin: 0;
    }

    a {
        color: var(--content-color-link);
        text-decoration: none
    }

    a:hover {
        text-decoration: underline
    }

    p {
        word-break: break-word
    }

    ul p {
        margin: 0;
    }

    @media print {

        h1,
        h2,
        h3,
        h4,
        h5 {
            page-break-after: avoid
        }
    }